<section class="card">
we are in the painting details partial
we need to create the card header with the painting's title
<ahref="/painting/{{id}}"></a>
<header>{{title}}</header>
  <!-- TODO: Link the contents of the card to the painting page using the painting ID -->
  <!-- TODO: Create the card header with the painting's title -->

  <div class="card-body">
  where did we sepcify the data that got sent to this partial?
  it was in the gallery.handlebars file
    <!-- TODO: Create the card body with the image of the painting and the name of the artist -->
  </div>
</section>